ul li {
    text-align: center;
    border:1px #cccccc solid;
    width: 50px;
    float:left;
    display:inline;
    margin: 0px 10px 0px 0px;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

dl, ol, ul {
    margin-bottom: 1rem;
  }