<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/upload.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>登入</title>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-10" style="float: left;"></div>
        <div class="col-2 home"><a href="/index/">回首頁</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="col-12" style="margin: -30px 0px -50px 0px;"><img src="/static/images/headBG.png" width="100%" ></div>
        <div class="col-7" style="float: left;margin: 0px 10px 0px 0px;"></div>
        <div class="col-3 headuser" style="margin: 8px 10px 0px 20px;color: red; font-size: 18px;text-align: right;">要借閱前請先登入系統~</div>
        <div class="col-1 logoutbt"><input type="button" value="回上一頁"onClick="window.history.back()"; class="custom-btn-3 btn-3"></div>
    </div>

    <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12"><hr style="border: 1.5px solid rgb(0, 0, 0);"></div>
    </div>

    <form action="." id="form1" name="form1" method="POST">
      {% csrf_token %}
      <table style="border:'0'; margin: auto;"  cellpadding="4" cellspacing="0">
        <tr>
          <td><p>帳號</p></td>
          <td><p>
            <input type="text" name="username" id="username" />
            </p></td>
          </tr>
        <tr>
          <td><p>密碼</p></td>
          <td><p>
            <input type="password" name="passwd" id="passwd" />
            </p></td>
          </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <input type="submit" name="button" id="button" value="登入" class="custom-btn-2 btn-2" style="font-weight: bold; font-size:16px;"/>
          </td>
          <p style="text-align: center; color: red;">{{message}}</p>
        </tr>
      </table>
      
    </form>


    <div class="row">
        <div class="col-12">&nbsp;</div>
        <div class="col-12"><hr style="border: 1px solid rgb(0, 0, 0);"></div>
        <div class="col-12" style="text-align: center; color:rgb(134, 134, 134); font-size: 14px;margin-bottom: 10px;">台北校區 校址：台北市中正區100濟南路一段321號 <br>總機：(02)33222777</div>
    </div>

  </div>


      
</body>
</html>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/upload.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>