<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/upload.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>個人書房</title>
</head>
<body>
    {%if request.user.is_active%} 
        <div class="container">
            <div class="row">
                <div class="col-10" style="float: left;"></div>
                <div class="col-2 home"><a href="/usermain/">回首頁</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-12" style="margin: -30px 0px -50px 0px;"><img src="/static/images/headBG.png" width="100%" ></div>
                <div class="col-7" style="float: left;"></div>
                <div class="col-2 headuser" style="padding: 6px 0px 0px 15px; margin: 0px 10px 0px 20px;">Hi~&nbsp;&nbsp;{{nowuser}}&nbsp;&nbsp;同學</div>
                <div class="col-1 logoutbt" style="margin: 0px 20px 0px 0px;"><a href="/logout/"><button class="custom-btn-2 btn-2">登出</button></a></div>
                <div class="col-1 logoutbt"><input type="button" value="回上一頁"onClick="window.history.back()"; class="custom-btn-3 btn-3"></div>
            </div>
            
            <div class="row">
                <div class="col-12">&nbsp;</div>
                <div class="col-8" style="display: flex; align-items: center; font-size: 24px; color: rgb(0,76,112); font-weight: bolder; font-family:Microsoft JhengHei;">個人書房</div>
                <div class="col-12"><hr style="border: 1.5px solid rgb(0, 0, 0);"></div>
            </div>
            
            <table class="gridtable" style="table-layout:fixed; margin-left: 30px;">
                <tr>
                    <th>封面</th><th>書名</th><th>到期日</th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td><a href="/userbook/{{book.id}}/"> <img src="/media/{{book.burl}}" alt="" width="80px" height="100px"></a></td>
                        <td><a href="/userbook/{{book.id}}/">{{book.name}}</a></td>
                        <td>
                            {%if book.redate == '' %}
                                <div>無</div>
                            {%else%}
                                <div>{{book.redate}}</div>
                            {%endif%}
                        </td>
                    </tr>
                {% endfor %}
            </table>


            <div class="col-12">&nbsp;</div>



        </div>



    {%else%}
        <p>您尚未登入喔</p>
        <a href="/login/">login</a>
    {%endif%}
</body>
</html>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/upload.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>